{% extends 'base.html' %}

{% block content %}
<h1>home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam eum placeat perspiciatis sit consectetur recusandae at magni illo?
    Explicabo consectetur voluptas rem aut aspernatur recusandae totam porro nesciunt praesentium. Nostrum animi id recusandae aliquam 
    quae suscipit est eligendi rem! Quia adipisci repellendus eveniet sequi natus repellat sit veritatis non officia cumque, animi vero 
    beatae iste quis! Eos sit consequatur ipsam officia ratione natus, soluta debitis. Quia nobis illum maxime quos! Voluptas doloremque
    vero dignissimos voluptatibus fugiat commodi, assumenda quibusdam dolores ducimus soluta ipsam enim tenetur? Libero mollitia, earum 
    expedita dolore neque reprehenderit eum laboriosam sint facere inventore animi similique necessitatibus?</p>
{% endblock %}